{
  "plugins": [
    [
      "babel-plugin-styled-components"
    ],
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "extensions": [
          ".ts",
          ".tsx",
          ".js"
        ],
        "alias": {
          "src": "./src"
        }
      }
    ]
  ]
}